/* f44148 red or  */

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local('Poppins'), url(./assets/fonts/Poppins/Poppins-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: local('Poppins'), url(./assets/fonts/Poppins/Poppins-SemiBold.woff2) format('woff2');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: local('Poppins'), url(./assets/fonts/Poppins/Poppins-ExtraBold.woff2) format('woff2');
}

@font-face {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: local('Poppins'), url(./assets/fonts/Poppins/Poppins-Italic.woff2) format('woff2');
}

#root {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    font-weight: 400;

    .nav-link.active {
        box-shadow: 0 2px 0 0 #0d7af6;
    }

    .home {
        height: calc(100% - 56px);

        p {
            font-weight: 400;
            font-size: 1.2em;
            line-height: 1.2;
        }

        h1 {
            font-weight: 800;
            font-size: 3em;
            line-height: 1.2;
        }

        h2 {
            font-weight: 400;
            font-size: 1.6em;
            line-height: 1.2;
        }

        h3 {
            font-weight: 400;
            font-size: 1.5em;
            line-height: 1.2;
        }

        .home-button:hover {
            background: rgba(13, 122, 246, 0.15) !important;
            box-shadow: 0 8px 32px 0 rgba(13, 122, 246, 0.12), 0 1.5px 6px 0 rgba(0, 0, 0, 0.10);
            border-color: #0d7af6 !important;
            color: #fff;
            text-decoration: none;
        }
    }

    .about {
        background-color: rgba(31, 29, 29, 1);
        overflow-Y: auto;
        height: calc(100% - 56px);
        scrollbar-gutter: stable both-edges;
        scrollbar-color: gray rgba(31, 29, 29, 1);

        h1 {
            font-weight: 600;
            font-size: 1.3em;
            line-height: 1.2;
            border-bottom: 2px solid rgba(255, 255, 255, 0.5);
            padding-bottom: 5px;
        }

        h2 {
            font-weight: 600;
            font-size: 1.0em;
            line-height: 1.2;
        }

        h3 {
            font-weight: 400;
            font-size: 1.0em;
            line-height: 1.2;
            opacity: 80%;
        }
    }

    .portfolio {
        background-color: rgba(31, 29, 29, 1);
        height: calc(100% - 56px);
        overflow-Y: auto;
        scrollbar-gutter: stable both-edges;
        scrollbar-color: gray rgba(31, 29, 29, 1);

        h1 {
            font-weight: 600;
            font-size: 1.3em;
            line-height: 1.2;
            border-bottom: 2px solid rgba(255, 255, 255, 0.5);
            padding-bottom: 5px;
        }

        h2 {
            font-weight: 600;
            font-size: 1.0em;
            line-height: 1.2;
        }

        h3 {
            font-weight: 400;
            font-size: 1.0em;
            line-height: 1.2;
            opacity: 80%;
        }

        .portfolio-card:hover {
            background: rgba(13, 122, 246, 0.15) !important;
            transform: scale(1.02);
            box-shadow: 0 8px 32px 0 rgba(13, 122, 246, 0.12), 0 1.5px 6px 0 rgba(0, 0, 0, 0.10);
            border-color: #0d7af6 !important;
            color: #fff;
            text-decoration: none;
        }
    }
}